{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="{% static 'img/dashboard/favicon.png' %}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hear Me - A Voice To All</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/dashboardimages/logos/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/styles.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard/progress.css' %}" />

    <!-- <link rel="stylesheet" href="{% static 'css/dashboard/accessibility.css' %}" /> -->
    <!-- <style>
        @font-face {
            font-family: "myfont";
            src: url("/static/fonts/comic-boys.regular.otf") format('opentype');
            font-size: 1.5rem; /* Adjust the font size as needed */
    line-height: 1.5;
        }

        
        
        
    }
</style> -->
    <style>
        body {
            background: linear-gradient(to bottom right, #44c3bc, #efeeee);
            background-repeat: no-repeat;
            font-style: "Comic Sans MS", cursive, sans-serif;
        }

    </style>
    {% block extra_css %}

    {% endblock %}

</head>

<body>


    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="{% url 'dashboard' %}" class="text-nowrap logo-img">
                        <!-- <img src="{% static 'img/dashboard/images/logos/dark-logo.png' %}" width="160" alt="" /> -->
                        <img src="{% static 'img/logo.png' %}"
                        class="w-100 mb-n5 mt-n3" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'dashboard' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'statistics' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-flag-3"></i>
                                </span>
                                <span class="hide-menu">leaderboard 📈</span>
                            </a>
                        </li>

                        <!-- ===================================== Learning =========================== -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Learning</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'trainings' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">My Training👟</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'practice' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu">Let's Practice😎</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-description"></i>
                                </span>
                                <span class="hide-menu">Live Sessions</span>
                            </a>
                        </li>


                        <!-- ============================ GAMES ======================== -->
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'play' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-medal"></i>
                                </span>
                                <span class="hide-menu">Play Games🎯</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="#" aria-expanded="false">
                                <span>
                                    <i class="ti ti-typography"></i>
                                </span>
                                <span class="hide-menu">Related Content</span>
                            </a>
                        </li>

                        <!-- =============================== Around The Globe ====================== -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">COMMUNITY</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" target="_blank" href="{% url 'community' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-mood-happy"></i>
                                </span>
                                <span class="hide-menu">My Friends</span>
                            </a>
                        </li>

                        <!-- =============================== Profile ====================== -->
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Profile</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="{% url 'my-profile' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-aperture"></i>
                                </span>
                                <span class="hide-menu">My Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item  bg-danger rounded-2 mt-1">
                            <a class="sidebar-link" href="{% url 'logout' %}" aria-expanded="false">
                                <span>
                                    <i class="ti ti-logout"></i>
                                </span>
                                <span class="hide-menu">Logout</span>
                            </a>
                        </li>


                    </ul>
                    <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
                        <!-- <div class="d-flex">
                            <div class="unlimited-access-title me-3">
                                <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Upgrade to pro</h6>
                                <a href="https://endeavourinstitute.in/login"
                                    class="btn btn-primary fs-2 fw-semibold lh-sm">Buy Pro</a>
                            </div>
                            <div class="unlimited-access-img">
                                <img src="{% static 'img/dashboard/images/backgrounds/rocket.png' %}" alt="" class="img-fluid">
                            </div>
                        </div> -->
                    </div>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->


        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse"
                                href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="#">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                            <li class="mx-4">
                                <label for="p-bar"><strong>{{ student.badges.all.count }}/{{ total_badges }}</strong> badges earned</label> &nbsp;|&nbsp;
                                <label for="p-bar">Rank: <strong>{{ student.rank }}</strong></label> 
                                <div class="loading-bar mt-1 mb-1" id="p-bar">
                                    <div class="loading-bar--progress" style="width: {{ remaining_points_in_percentage }}%;">
                                       <span class="first"></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span></span>
                                       <span class="last"></span>
                                    </div>
                                 </div>
                                 <label for="p-bar">Points: <strong>{{ student.points }}</strong></label> &nbsp;|&nbsp; 
                                 <label for="p-bar">Remaining Points: <strong>{{ remaining_points }}</strong></label>
                            </li>

                            <!-- <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a> -->
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ student.avatar.image.url }}" alt="" width="35" height="35">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
                                    aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="{% url 'my-profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <a href="{% url 'update-profile' %}" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-mail fs-6"></i>
                                            <p class="mb-0 fs-3">Edit Profile</p>
                                        </a>
                                        <a href="{% url 'logout' %}"
                                            class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row-cols-lg-3">
                        <span class="fw-semibold">Hi, {{ student.username }}</span>
                    </div>
                </nav>
            </header>
            <!--  Header End -->

            {% block body %}
            {% endblock %}

            <div class="py-6 px-6 text-center">
                <p class="mb-0 fs-4">Designed and Developed by <a href="#" target="_blank"
                        class="pe-1 text-dark text-decoration-none"><strong>🖤 B L A C K &nbsp; O R D E R 🖤</strong></a>
        
                </p>
        
            </div>

        </div>
    </div>

    {% block myjs %}
    {% endblock %}

    <script src="https://cdn.userway.org/widget.js" data-account="vULjtWWr67"></script>


    <script src="{% static 'js/dashboard/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'js/dashboard/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/dashboard/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/dashboard/js/app.min.js' %}"></script>
    <script src="{% static 'js/dashboard/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/dashboard/libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'js/dashboard/js/dashboard.js' %}"></script>

    <!-- <script src="{% static 'js/dashboard/accessibility.js' %}"></script> -->
</body>

</html>